logs
project/project
project/target
target
tmp
.history
dist
/.idea
*.iml
/out
/.idea_modules
.classpath
.project
.settings
pom.xml.releaseBackup
release.properties
pom.xml.versionsBackup

cedar-auth-operations-noauth/
cedar-auth-operations-play/
cedar-server-utils-play/
